@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  /* background-image: linear-gradient(
    25deg,
    hsl(240deg 15% 13%) 0%,
    hsl(233deg 22% 15%) 11%,
    hsl(226deg 30% 17%) 23%,
    hsl(221deg 40% 18%) 36%,
    hsl(215deg 52% 19%) 48%,
    hsl(221deg 62% 26%) 61%,
    hsl(238deg 46% 36%) 74%,
    hsl(264deg 54% 40%) 87%,
    hsl(287deg 84% 36%) 100%
  ); */
  /* background: rgb(5, 39, 41);
  background: linear-gradient(0deg, rgba(5, 39, 41, 1) 0%, rgba(10, 151, 158, 1) 35%, rgba(198, 224, 230, 1) 100%); */
  background: #f3fdff;
}

@layer utilities {
  .nav {
    @apply relative ml-10 text-gray-500 font-mono font-bold tracking-[1px] hover:text-white;
  }

  .nav::after {
    @apply content-[''] bg-cyan-200 absolute h-[3px] w-[0] left-0 -bottom-[5px] rounded-xl duration-300;
  }

  .nav:hover::after {
    @apply w-[100%];
  }
}

@font-face {
  font-family: "NotoSans";
  src: url("../public/NotoSans-Regular.ttf");
}
